@charset "utf-8";

/*gerais*/

div
{
	width: 100px;
	height: 100px;
	background-color: darkgray;
}

/*Estado de uma tag*/
div:hover
{
	width: 120px;
}

div p:first-child
{
	color: red;
}

/* pseudo elemento */

p::after
{
	content: 'destaque';
}

p::before
{
	content: 'init : ';
}